<%= @game.players[0].name %> vs. <%= @game.players[1].name %>
<br>
<%= @game.current_turn.name %>'s turn
<br>
<%= @game.players[1].name %>: <%= @game.players[1].hit_points %>HP
<a href="/attack">Attack</a>
